<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="{CSS_PATH}/bootstrap.css" />
	<link rel="stylesheet" href="{CSS_PATH}/index/addUser.css" />
	<body style="background-color: rgba(0, 0, 0, 0);">
		<div>
			<form action="index.php?m=admin&f=user&a=add" method="post">
				用户名：<input type="text" name="uname" class="form-control"/></p>
				密　码：<input type="password" name="upass" class="form-control"/></p>
				<input type="submit" value="添加用户"  class="btn btn-default"/>
			</form>
		</div>
		
	</body>
</html>
