<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="{CSS_PATH}/bootstrap.css" />
	<link rel="stylesheet" href="{CSS_PATH}/admin/manageUser.css" />
	<body style="background-color:rgba(0,0,0,0); padding: 20px 20px;">
		<table class="table table-bordered" id="center">
			<tr>
				<th id="center">cid</th>
				<th id="center">分类名</th>
				<th id="center">pid</th>
				<th id="center">操作</th>
			</tr>
			<tbody>
				{$cname}
			</tbody>
		</table>
	</body>
</html>
