<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="{CSS_PATH}/bootstrap.css" />
	<link rel="stylesheet" href="{CSS_PATH}/admin/addClassIfy.css" />
	<body style="background-color: rgba(0, 0, 0, 0);">
		<div>
			<form action="index.php?m=admin&f=addClassIfy&a=editClassIfyInfo" method="post">
				上级分类：<select name="pid" class="form-control">
							<option value="0">一级分类</option>
							{$cclass}
						</select>
						</p>
				分类名称：<input type="text" name="cname" class="form-control" value="{$cname}"/></p>
				<input type="hidden" name="cid" value="{$cid}"/>
				<input type="submit" class="btn btn-default"/>
			</form>
		</div>
		
	</body>
</html>
