<style>
    .notice-login{
        padding:30px 0;
        width:200px;
        background: #ccc;
        border-radius: 5px;
        text-align: center;
        line-height: 20px;
        position: fixed;
        left:0;top:40%;right:0;bottom: 40%;
        margin:auto;
        display: none;
    }
    span,a{
    	font-size: 16px;
    }
</style>
<div class="notice-login">
    <span>请先</span> <a href="index.php?m=index&f=index&a=login">登陆 </a><span>再进行操作</span><br>
    
    <a href="javascript:;" class="btn btn-danger quxiao" style="margin-top:20px;">取消登陆</a>
</div>